$success-color: #40449B;
$error-color: #E52228;

@mixin color-theme($bg-color, $text-color, $h1-color) {
    $h2-color: darken($text-color, 10%);
    $terms-color: lighten($text-color, 15%);
    $link-color: darken($text-color, 30%);
    $light-bg-color: lighten($bg-color, 40%);

    body, html {
        background-color: $bg-color;
    }

    #footer, ul.breadcrumb {
        background-color: $light-bg-color;
    }

    body {
        color: $text-color;
    }

    .feature {
      background-color: $light-bg-color;
    }

    h1 {
      color: $h1-color;
      text-shadow: lighten($h1-color, 50%) 1px 1px 1px;
    }

    h2 {
      color: $h2-color;
    }

    #success {
      color: $success-color;
    }

    #error {
      color: $error-color;
    }

    .signup-terms {
      color: $terms-color;
    }

    a {
        color: $link-color;
    }
}

$default-bg-color: #f4f4f4;
$default-text-color: #52585D;
$default-h1-color: #222;

@include color-theme($default-bg-color, $default-text-color, $default-h1-color);

body, html {
    height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* End sticky footer styles
-------------------------------------------------- */

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 700px;
}

.feature {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-top: 40px;
  padding: 20px 50px;
}

h1 {
  font-family: "agb", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 32px;
}

h2 {
  font-weight: normal;
  font-size: 16px;
}

.description {
  text-align: left;
}

#notices {
  text-align: center;
  min-height: 18px;
  margin-top: 20px;
}

form {
    text-align: center;
    margin-top: 10px;
}

.signup-terms {
  font-size: 11px;
  line-height: 15px;
  font-style: italic;
  max-width: 400px;
  margin: 0 auto;
}

.bottom-nav {
    margin-top: 16px;
    font-size: 16px;

    ul li a {
        margin-right: 22px;
    }
}

a {
    font-weight: normal;
    text-decoration: none;

    &:hover {
          color: black;
    }
}

@media (max-width: 767px) {
    button {
        margin-top: 10px;
    }
}

.social-list-small {
    width: 90px;
    min-height: 75px;
    margin: 40px auto 0;
    list-style-type: none;
    list-style-position: outside;
}
